<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cr2 -->
      <package
            uri="http://www.example.org/cr2"
            class="pt.isep.enorm.atb.cr2.Cr2Package"
            genModel="model/cr2.genmodel"/>
   </extension>

</plugin>
