<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cr3 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pt.isep.enorm.rjmn.cr3.presentation.Cr3ModelWizardID"
            name="%_UI_Cr3ModelWizard_label"
            class="pt.isep.enorm.rjmn.cr3.presentation.Cr3ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Cr3ModelFile.gif">
         <description>%_UI_Cr3ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cr3 -->
      <editor
            id="pt.isep.enorm.rjmn.cr3.presentation.Cr3EditorID"
            name="%_UI_Cr3Editor_label"
            icon="icons/full/obj16/Cr3ModelFile.gif"
            extensions="cr3"
            class="pt.isep.enorm.rjmn.cr3.presentation.Cr3Editor"
            contributorClass="pt.isep.enorm.rjmn.cr3.presentation.Cr3ActionBarContributor">
      </editor>
   </extension>

</plugin>
